.section--about-none {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
    padding-top: 0;
  }
}
.about {
  display: flex;
}
.about__item {
  position: relative;
}
.about__top-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 370px;
  min-height: 70px;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
