.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  .logo {
    color: var(--first-text-color);
  }
}
.container--header {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.header__connect-wrap {
  margin-left: auto;
}
/*.logo-link {
  font-family: Raleway;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}*/
.site-nav__list,
.site-nav__connect-list {
  //display: flex;
  display: none;
}
.site-nav__list,
.site-nav__connect-list {
  .site-nav__link {
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.site-nav__connect-list {
  .site-nav__link {
    color: var(--secondary-text-color);
  }
  /*& a:hover,
  & a:focus {
    color: var(--accent-color);
  }*/
}
.site-nav__list {
  .site-nav__item {
    margin-right: 50px;
    & a:hover,
    & a:focus {
      color: var(--accent-color);
    }
  }
}
.site-nav__list {
  .site-nav__item:last-child {
    margin-right: 0;
  }
}
.site-nav__connect-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item--current {
  color: var(--accent-color);
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: -32px;
  }
}

.site-nav__connect-item {
  color: var(--secondary-text-color);
}
.site-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav__connect-item {
  .site-nav__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  color: var(--secondary-text-color);
  & a:hover,
  & a:focus {
    color: var(--accent-color);
  }
}

.menu-open-btn,
.menu-close-btn {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  margin-top: 10px;
}
.mob-menu {
  position: absolute;
  z-index: 1;
  background-color: var(--first-background-color);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 48px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.mob-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 32px;
}
.mob-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-bottom: 64px;
}
.mob-menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.mob-menu-soc {
  display: flex;
  align-items: center;
}
